@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  font-size: 62.5%;
  scroll-behavior: smooth !important;
}
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
  font-family: "Poppins",sans-serif;

}

body.active{
  background-color: #0c0c0c;
  color: white;
}

a{
  text-decoration: none;
  color: inherit;
}

li{
  list-style: none;
}

h1{
  font-family: 'Inter',sans-serif;
}

body.active input{
  background-color: #191919 !important;
}
body.active textarea{
  background-color: #191919 !important;
}

body.active .theme{
  background-color:black ;
  color: white;
}

body.active .mob-menu{
  background-color:black ;
  color: white;
}